*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(257, 40%, 49%); 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}
nav{
    padding: 20px 30px;
}
main{
    background: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
    padding: 100px 200px 20px 200px;
}
.build{
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 30px;
}  
.build img{
    height: 60vh;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.btn {
    font-size: 1.2rem;
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    width: 50%;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  }
  
  .btn:active {
    scale: 0.92;
  }
  
  .btn:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }
  svg{
    color: white;
    font-size: larger;
  }
  .icons{
    display: flex;
    justify-content: flex-end;
  }

@media screen and (max-width:950px) {
    .build{
        flex-direction: column;
    }
    main{
        padding: 100px 20px 0 20px;
    }
    .build img{
        height: 25vh;
    }
    nav{
        padding: 10px;
    }
    nav img{
        height: 40px;
    }
}